---
import { BusinessIdeaDetail } from "../../../features/businessIdea/businessIdea";
import CompetitorAnalysis from "../../../features/socialAnalysis/instagram/components/previewInstagramAnalysis";
import DashboardLayout from '../../../layouts/DashboardLayout.astro';


const { id } = Astro.params;

// Verificar que el ID existe
if (!id) {
  return Astro.redirect('/businessIdeas');
}

console.log('🔍 ID recibido en página Astro:', id);
---

<html>
  <head>
    <title>Idea de Negocio {id}</title>
  </head>
  <body>
    <DashboardLayout>
      <BusinessIdeaDetail id={id} client:load />
      <CompetitorAnalysis client:load />
    </DashboardLayout>
  </body>
</html>