@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-darkest: #111111;   /* Negro mate, el más oscuro */
    --color-gray: #888888;       /* Gris */
    --color-lightest: #dddddd;   /* Color más claro */
    --color-primary: #E81840;    /* Color primario y más llamativo */
}