---
import DashboardLayout from '../layouts/DashboardLayout.astro';
import '../styles/global.css';
import { ChatInterface } from '../features/chatbot/components/ChatInterface.tsx';
console.log("chatpage")
import { ChatForm } from '@/features/chatbot/components/chatForm';
---

<DashboardLayout>
	<div class="flex flex-col items-center justify-center h-screen bg-background px-4">
		<ChatInterface client:load/>
	  </div>
</DashboardLayout>
