---
import LoginForm from "../features/auth/components/LoginForm.tsx";
import ParticlesBackground from "../features/auth/components/ParticlesBackground.tsx";
import '../styles/global.css';
---

<div class="flex min-h-screen w-full">
  <LoginForm client:load />
  <div class="hidden w-3/4 lg:block">
    <ParticlesBackground client:load />
  </div>
</div>
