---
const { competitor_id } = Astro.params;
import DashboardLayout from "@/layouts/DashboardLayout.astro";
import InstagramHeader from "@/features/socialAnalysis/instagram/InstagramHeader";
import InstagramAccountAnalysis from "../../../features/socialAnalysis/instagram/account-analysis";
---

<DashboardLayout>
  <div class="max-w-7xl mx-auto px-4 py-8">
    <div class="mb-6">
      <InstagramHeader competitorId={String(competitor_id)} client:load />
    </div>
    <InstagramAccountAnalysis competitorId={String(competitor_id)} client:load />
  </div>
</DashboardLayout>