---
import "../styles/global.css";
import Sidebar from "../components/layout/Sidebar.jsx";
import '@fontsource/barlow/400.css';
import '@fontsource/barlow/500.css';
import '@fontsource/barlow/700.css';
import '@fontsource/barlow/900.css';
// Supports weights 400-800
import '@fontsource-variable/syne';
import '@fontsource-variable/inter';
import '@fontsource-variable/sora';
import '@fontsource-variable/orbitron';
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DashboardLayout</title>
  </head>
  <body>
    <div
      id="app"
      class="relative h-screen bg-theme-white dark:bg-theme-darkest text-theme-darkest dark:text-theme-light font-montreal text-paragraph"
    >
      <aside class="[grid-area:sidebar] overflow-y-auto">
        <Sidebar client:load>
          <slot />
        </Sidebar>
      </aside>
    </div>
  </body>
</html>

<style>
  #app {
    display: grid;
    overflow: hidden;
    grid-template-areas:
      "sidebar";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  @media screen and (max-width: 768px) {
    #app {
      grid-template-areas:
        "sidebar";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }
</style>
